label{
    display: flex;
    flex-direction: column;

    span{
        font-size: 14px;
        margin-bottom: 5px;
    }

    input{
        margin: 2px 0 12px 0;
        font-size: 14px;
        color: #222;
        padding: 7px 12px;
        outline: none;
        border: 2px solid #aaa;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
        &::placeholder{
            color: #aaa;
            font-size: 13px;
        }
        &:focus{
            border: 2px solid darkblue;
            color: darkblue;
            &::placeholder{
                color: darkblue;
            }
        }
    }
}