.wrapp-edit-profile{
    display: flex;
    justify-content: center;

    .edit-profile{
        width: 900px;
        display: flex;
        justify-content: center;
        padding: 80px 20px;

        form{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 10px;

            button{
                display: flex;
                justify-content: center;
                width: auto;
                padding: 8px 12px;
                border: none;
                border-radius: 3px;
                background-color: gray;
                color: #fff;
                cursor: pointer;
                margin-top: 10px;
                font-size: 13px;
                font-weight: 600;
                transition: 0.2s ease-in-out;
                &:hover{
                    background-color: darkblue;
                }
            }
        }
    }
}